site_name: Andes Studio
site_url: https://obscuredarling.github.io/qwpo4578/

theme: 
  name: material
  
  palette: 
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
   # - toc.integrate 
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences


nav: 
    - Home: index.md 
    - Installation: installation.md
    - Working with Andes Studio: working.md
    - Demo Applications: demo.md
    - References: references.md
    - Code Docs: 
      - Java: coding/java_code.md


